<body>

  <header>
        <h1>LATE NIGHT CRAVES</h1>
    </header>

    <div class="search-bar-container">
        <input type="text" placeholder="Search for delicious food...">
        <button>Search</button>
    </div>

    <section class="restaurant-grid">
        <div class="restaurant-item">
            <img src="https://umassdining.com/sites/default/files/worcester_commons_new.jpg" alt="Worcester">
            <h3>Worcester Dining Commons</h3>
        </div>
        <div class="restaurant-item">
            <img src="https://th.bing.com/th/id/R.1d279d56b15580ab5276fb2e99d68985?rik=wCYCAEWeUuZnLA&riu=http%3a%2f%2farchitizer-prod.imgix.net%2fmedia%2f140631185416512075_00_N150_medium.jpg%3fw%3d1680%26q%3d60%26auto%3dformat%2ccompress%26cs%3dstrip&ehk=vi8xgl%2bMwU%2bckzME7g1K6Kz%2f3RvesR7n7FVsB8%2f7Yig%3d&risl=&pid=ImgRaw&r=0" alt="Hampshire">
            <h3>Hampshire Dining Commons</h3>
        </div>
        <div class="restaurant-item">
            <img src="https://umassdining.com/sites/default/files/berkshire%20_resized.jpg" alt="Berkshire">
            <h3>Berkshire Dining Commons</h3>
        </div>
        <div class="restaurant-item">
            <img src="https://umassdining.com/sites/default/files/franklin-grabngo.jpg" alt="Franklin">
            <h3>Franklin Dining Commons</h3>
        </div>
    </section>

</body>